{% extends "content.html" %}

{% block sidebar-title %}Data & Information{% endblock %}

{% block sidebar-menu %}
      <li><a class="waves-effect" href="/data_info">Land use / Land cover </a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/data_info/driver_lulc">Drivers of land use / land cover change</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/data_info/environmental_services">Environmental services</a></li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <li>
                        <a class="collapsible-header active">Economic impact</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/data_info/economic">Regional Economy</a></li>
                            <li><a href="#!">Land use profitability</a></li>
                            <li><a href="#!">Commodity value-chain</a></li>
                          </ul>
                        </div>
                  </li>
            </ul>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/data_info/land_requirement">Land requirement</a></li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <li>
                        <a class="collapsible-header active">Land supply</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/data_info/land_supply">Suitability</a></li>
                            <li><a href="#!">HCV & HCS</a></li>
                          </ul>
                        </div>
                  </li>
            </ul>
      </li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <li>
                        <a class="collapsible-header active">Development plan</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/data_info/development_plan">RPJMD</a></li>
                            <li><a href="#!">RTRW</a></li>
                          </ul>
                        </div>
                  </li>
            </ul>
      </li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <li>
                        <a class="collapsible-header active">Other plan</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/data_info/other_plan">Climate change mitigation</a></li>
                            <li><a href="#!">Landscape restoration potential</a></li>
                          </ul>
                        </div>
                  </li>
            </ul>
      </li>
      <li><div class="divider"></div></li>
      <!--li><a class="waves-effect" href="/data_info/land_supply">Land supply</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/data_info/development_plan">Development plan</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/data_info/other_plan">Other plan</a></li>
      <li><div class="divider"></div></li-->
{% endblock %}
