{% extends "di_base.html" %}
{% load staticfiles%}

{% block custom-head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <style type="text/css">
        #map { height: 600px; width: 100%; }
    </style>
{% endblock %}

{% block content-title %}Land use / Land cover{% endblock %}

{% block content-body %}
    <div class="row">
      <div class="col s12 m12 l7">
        <div id="map"></div>
      </div>
    </div>

<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.SliderControl.min.js' %}"></script>
<script type="text/javascript">
    var map = new L.Map('map');
    var geojson_data;

    $.getJSON("{% static 'data/sample3.geojson' %}", function(data){
        mapData = L.geoJson(data);
        mapBound = mapData.getBounds();
        //mapData.addTo(map);

        var lgroup = L.layerGroup();

        var layerPath = "{% static 'data/raster/lulc/image45.png' %}";
        var imglayer = L.imageOverlay(layerPath, mapBound, { time: '2015' });
        lgroup.addLayer(imglayer);

        layerPath = "{% static 'data/raster/lulc/image46.png' %}";
        imglayer = L.imageOverlay(layerPath, mapBound, { time: '2016' });
        lgroup.addLayer(imglayer);
        //imglayer.addTo(map);

        var sliderControl = L.control.sliderControl({ position: "topright", layer:lgroup, follow: true });
        map.addControl(sliderControl);
        sliderControl.startSlider();
        
        map.fitBounds(mapBound);
    });

</script>
{% endblock %}