{% extends "content.html" %}

{% block sidebar-title %}

{% if LANGUAGE_CODE == "en" %}
About
{% else %}
Tentang
{% endif %}

{% endblock %}

{% block sidebar-menu %}
{% if LANGUAGE_CODE == "en" %}
	<li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about">Vision, Scope & Rationale</a></li>
	<li><div class="divider"></div></li>
	<li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about/approaches">Approaches</a></li>
	<li><div class="divider"></div></li>
	<!-- <li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about/planning">Planning steps</a></li>
	<li><div class="divider"></div></li> -->
{% else %}
	<li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about">Visi, Batasan & Rasional</a></li>
	<li><div class="divider"></div></li>
	<li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about/approaches">Pendekatan</a></li>
	<li><div class="divider"></div></li>
	<!-- <li><a class="waves-effect" href="/{{ LANGUAGE_CODE }}/about/planning">Langkah-langkah perencanaan</a></li>
	<li><div class="divider"></div></li> -->
{% endif %}
{% endblock %}
