{% extends "history_base.html" %}
{% load staticfiles %}

{% block custom-head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <style type="text/css">
        /*#map { height: 700px; width: 800px; }*/
        #map { height: 600px; width: 100%; }
        .bar { fill: steelblue; }
        .bar:hover { fill: brown; }
        .axis--x path { /* display: none; */ }
    </style>
{% endblock %}

{% block content-title %}Land use & land cover change{% endblock %}

{% block content-body %}
    <!--div class="row content-heading">
      &nbsp;
    </div-->

    <div class="content-box">
      <div class="row">
        <div class="input-field col s12 m12 l5">
          <select>
                  
            {% for kabname in kab %}
              <option>{{ kabname }}</option>
            {% endfor %}
            
          </select>
          <label>Kabupaten</label>
        </div>
        <div class="input-field col s12 m12 l5">
          <select>
            {% for period_text in period %}
              <option>{{ period_text }}</option>
            {% endfor %}
          </select>
          <label>Period</label>
        </div>
        <div class="input-field col s12 m12 l2 center-align">
          <a class="waves-effect waves-light btn">Show</a>
        </div>
      </div>
    </div>

    <div class="row content-heading">
      Natural forest
    </div>

    <!--div class="row">
      <img src="{% static 'images/INFO1.JPG' %}">
    </div-->

    <div class="row">
      <div class="col s12 m12 l7">
        <div id="map"></div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6">
        <div class="row content-heading">Chart 1</div>
        <chart1>
      </div>
      <div class="col s12 m12 l6">
        <div class="row content-heading">Chart 2</div>
        <chart2>
      </div>
    </div>
{% endblock %}

{% block custom-footer %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<script type="text/javascript">
  var map = new L.Map('map');
  //map.setView([-3.3194, 103.9144], 8);

    /*
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

    map.addLayer(osm);

    var palembang = L.marker([-2.9761, 104.7754]).bindPopup('Kota Palembang').addTo(map);
    */
  var range_color = [ "#fef0d9","#fdcc8a","#fc8d59","#e34a33","#b30000"];
  var maxval = 1705228.051;
  var minval = 44.656;

  function getColorIndex(value) {
    var maxlength = range_color.length;
    var range = (maxval - minval) / maxlength;
    if (value > maxval || value < minval) return -1;

    for ( i = 0; i < maxlength-1; i++ ) {
      if( value >= range*i && value < range*(i+1) ) {
        return i;
      }
    }

    return maxlength-1;
  }

  function getStyle(feature) {
    var luas = feature.properties.Luas;
    var cIndex = getColorIndex(luas);
    var fillColor = (cIndex >= 0) ? range_color[cIndex] : "#ccc";
    //console.log("luas: " + luas + " -- index: " + cIndex + " -- fillColor: " + fillColor);

    return { color: "#999", weight: 1, fillColor: fillColor, fillOpacity: .6 };
  }

  function getOnEachFeature(feature,layer) {
    layer.bindPopup( "<strong>" + feature.properties.Luas + "</strong>" );
  }

  $.getJSON("{% static 'data/sample2.geojson' %}",function(data){
    mapData = L.geoJson(data, { style: getStyle, onEachFeature: getOnEachFeature });
    mapData.addTo(map);
    map.fitBounds(mapData.getBounds());
    //mapData = L.geoJson(data, { style: getStyle, onEachFeature: getOnEachFeature });
  });

</script>

<script src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript">
  var barData = [  
    {'x': "1990-2000",'y': 116939}, 
    {'x': "2000-2005",'y': 67270}, 
    {'x': "2005-2010",'y': 59494}, 
    {'x': "2010-2014",'y': 142419}];

  var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 640 - margin.left - margin.right,
    height = 480 - margin.top - margin.bottom;

  //var x = d3.scaleOrdinal().domain(label).range([0, width]);
  var x = d3.scaleBand().rangeRound([margin.left, width-margin.right]).padding(0.1);
  x.domain(barData.map(function(d) { return d.x }))
  //x.domain([ d3.min(barData, function(d) { return d.x; }) , d3.max(barData, function(d) { return d.x; }) ]);

  var y = d3.scaleLinear().rangeRound([height - margin.top, margin.bottom]);
  y.domain([d3.min(barData, function(d) { return d.y;}) , d3.max(barData, function(d) { return d.y; }) ])

  var xAxis = d3.axisBottom(x).ticks(10);
  var yAxis = d3.axisLeft(y).ticks(5);

  var svg = d3.select("chart2").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .text("Label")
    .call(xAxis);

  svg.append("g")
    .attr("class", "axis axis--y")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    //.style("text-anchor", "end")
    //.text("Value");

  svg.selectAll(".bar")
    .data(barData)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", function(d) { return y(d.y); })
    .attr("width", x.bandwidth())
    .attr("height", function(d) { return height - y(d.y); });
  
</script>

<script type="text/javascript">
  var width = 640,
      height = 480,
      radius = Math.min(width, height) / 2;

  var color = d3.scaleOrdinal()
      .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

  var arc = d3.arc()
      .outerRadius(radius - 10)
      .innerRadius(0);

  var labelArc = d3.arc()
      .outerRadius(radius - 40)
      .innerRadius(radius - 40);

  var pie = d3.pie()
      .sort(null)
      .value(function(d) { return d.population; });

  var svg = d3.select("chart1").append("svg")
      .attr("width", width)
      .attr("height", height)
      //.attr("preserveAspectRatio", "xMinYMin meet")
      //.attr("viewBox", "0 0 600 400")
      .append("g")
      .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  d3.csv("{% static 'data.csv' %}", type, function(error, data) {
    if (error) throw error;

    var g = svg.selectAll(".arc")
        .data(pie(data))
        .enter().append("g")
        .attr("class", "arc");

    g.append("path")
        .attr("d", arc)
        .style("fill", function(d) { return color(d.data.age); });

    g.append("text")
        .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
        .attr("dy", ".35em")
        .text(function(d) { return d.data.age; });
  });

  function type(d) {
    d.population = +d.population;
    return d;
  }
</script>
{% endblock %}