{% extends "history_base_map.html" %}
{% load staticfiles %}

{% block custom-head %}
  {{ block.super }}
  <style type="text/css">
    chart1,chart2,chart3,char4 { height: 300px; width: 100%; }
  </style>
{% endblock %}

{% block content-title %}Carbon - Sequestration{% endblock %}

{% block content-body %}
    <div class="content-box" style="padding: 20px 15px 0px;">
      <div class="row">
        <div class="input-field col s12 m12 l8">
          <select id="cbPeriod">
          {% for period_text in period %}
            {% if period_text == '' %}
            <option value='' disabled selected>Select period</option>
            {% elif period_text == selected_period %}
            <option value='{{ period_text }}' selected>{{ period_text }}</option>
            {% else %}
            <option value='{{ period_text }}'>{{ period_text }}</option>
            {% endif %}
          {% endfor %}
          </select>
          <label>Period</label>
        </div>
        <div class="input-field col s12 m12 l4 center-align">
          <a id="btnShow" class="waves-effect waves-light btn">Show</a>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div class="row content-heading">
        Sequestration
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div class="row content-heading">
        Source of Sequestration
      </div>
      <div class="row" style="margin-bottom: 0">
        <div class="col s12 m12 l6">
          <chart1 class="chart-container">
        </div>
        <div class="col s12 m12 l6">
          <chart2 class="chart-container">
        </div>
      </div>
    </div>

    <div class="content-box">
      <div class="row content-heading">
        Location of Sequestration
      </div>
      <div class="row" style="margin-bottom: 0">
        <div class="col s12 m12 l6">
          <chart3 class="chart-container">
        </div>
        <div class="col s12 m12 l6">
          <chart4 class="chart-container">
        </div>
      </div>
    </div>

    <div id="sidebar">
      <ul class="collection" style="margin: 0; border: 0">
        <li class="collection-item">
          <span class="orange-text"><h1>{{ stat_data.total }}</h1></span>Kilo Ton CO2-eq</li>
        <li class="collection-item"><span class="orange-text">
          <h1>{{ stat_data.rate }}</h1></span>Ton CO2-eq / Ha.Per-year</li>
        <li class="collection-item">
          Highest total sequestration<span class="orange-text right-align"><h4>{{ stat_data.max_district }}</h4></span></li>
        <li class="collection-item">
          Lowest total sequestration<span class="orange-text right-align"><h4>{{ stat_data.min_district }}</h4></span></li>
        <li class="collection-item">
          Highest rate sequestration<span class="orange-text right-align"><h4>{{ stat_data.fast_district }}</h4></span></li>
        <!-- <li class="collection-item"></li> -->
      </ul>
    </div>

{% endblock %}

{% block custom-footer %}

<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/L.Control.Sidebar.js' %}"></script>
<script src="{% static 'js/leaflet-legend.js' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $("#btnShow").on( "click", function() {
    var txtPeriod = $("#cbPeriod").val();

    if (txtPeriod != "") {
      var url = "/history/carbon-sequestration/" + txtPeriod ;
      //alert(url);
      location.href = url;
    }
    else 
      alert("Please select a commodity and/or a period");
  });
</script>

<script type="text/javascript">
  var geojson_data1 =
  {
    "type": "FeatureCollection",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    {% for feat in map_data1 %}
      {
        "type": "Feature",
        "geometry": {
          "type": "{{ feat.geometry.type }}",
          "coordinates": {{ feat.geometry.coordinates }}
        },
        "properties": {
          {% for key, val in feat.properties.items %}"{{ key }}": "{{ val }}",{% endfor %}
        },
      },
      {% endfor %}
    ]
  }

  var geojson_road_url = "{% static 'data/geojson/jalan.geojson' %}";
  var geojson_city_url = "{% static 'data/geojson/ibukota_kabupaten2.geojson' %}";
  var icon_url = "{% static 'images/circle_green_16.png' %}";
  var button_icon = "{% static 'images/stats.png' %}";
  var legend_icon = "{% static 'images/legend.png' %}";
  //var range_value = [0.0025,0.0050,0.0075,0.0100,0.0125];
  var range_value = [0.0010,0.0018,0.0026,0.0034,0.0042];
  var road_color = "#999";
  var decimal_digit = 4;

  var map_options = {
    legend: true,
    sidebar: true,
    popup_info: true,
  };

  var baselayer = [];
  baselayer.push({ type: "geojson", data: geojson_data1, title: "Sequestration", addtoMap: true, addtoControl: true, baseBound: true });

  // var layerPath = "{% static 'data/raster/lulc/' %}" + "LC2014s.png";
  // baselayer.push({ type: "raster", data: layerPath, title: "District", addtoMap: false, addtoControl: true, baseBound: false });

  var header_legend_template = "";
  header_legend_template += "<strong>LEGEND</strong><br>";
  header_legend_template += "<span class='legend-item' style='border: none'>";
  header_legend_template += "<img style='margin:0' src='{ICON_URL}'></span>District capital<br>";
  header_legend_template += "<span class='legend-item' style='border: none'>";
  header_legend_template += "<hr style='height:2px;border:none;background:{COLOR}'></span>Road<br>";
  header_legend_template += "<strong>Rate Sequestration <span style='font-size:smaller'>(Ton CO2-eq/ha.year)</span><br></strong>";

  var header_legend_data = { ICON_URL: icon_url, COLOR: road_color };

  var info_template = "";
  info_template += "Rate&nbsp;Sequestration&nbsp;in&nbsp;<strong>{DISTRICT}</strong>";
  info_template += "<br>Sequestration:&nbsp;<strong>{DATA}</strong>";

</script>
<script src="{% static 'js/history/mapHelper.js' %}"></script>

<script src="{% static 'js/history/barChart.js' %}"></script>
<script src="{% static 'js/history/piechart.js' %}"></script>

<script type="text/javascript">
  var min_width = 250;
  var min_height = 300;
  var width = 0, height = 0; half_value = 0;
  
  function GenerateSvg(targetChart) {
    var tmp = d3.select(targetChart).append("svg").attr("width", '100%').attr("height", 300).attr("id",targetChart);
    var $container = $(targetChart).parent(), width = $container.width(), height = $container.height();
    if (width < min_width) width = min_width;
    if (height < min_width) height = min_height;
    tmp.attr('viewBox','0 0 '+ width +' '+ height ).attr('preserveAspectRatio','xMinYMin');

    return tmp;
  }

  var pieData = [
  {% if not peat_data.empty %}
    {% for row in peat_data.itertuples %}
      {'x': "{{ row.Index }}",'y': {{ row.DATA }}},
    {% endfor %}
  {% endif %}
  ];
  var pieData = pieData.map( function(d,i){ return {label:d.x, value:d.y, color:d3.schemeCategory20[i]}; });

  var barData2 = [
  {% if not district_data.empty %}
    {% for row in district_data.itertuples %}
      {'x': "{{ row.Index }}",'y': {{ row.DATA }}},
    {% endfor %}
  {% endif %}
  ];

  var dataset = [{
    label: "Emission per zone"
    {% if not zone_data.empty %}
      {% for row in zone_data.itertuples %}
        ,"{{ row.Index }}": {{ row.DATA }}
      {% endfor %}
    {% endif %}
  }];

  var xkeys = [{% for data in peat_period_index %}"{{ data }}",{% endfor %}];
  var zkeys = [{% for data in peat_period_sub_index %}"{{ data }}",{% endfor %}];
  var data = [{% for data in peat_period_data %}
    { period: "{{ data.label }}"{% for row in data.data.itertuples %}, "{{ row.Index }}": {{ row.DATA }}{% endfor %}},
  {% endfor %}];

  data.forEach(function(d) {
    var total = 0;
    zkeys.forEach(function(item) { var val=d[item]/1000; d[item]=Math.round(val*100)/100; total += d[item]; });
    d.total = total;
  });
  //console.log(data);

  var period = "{{ selected_period }}";

  var targetChart = "chart1";
  var chartTitle = "Peat composition (" + period + ")";
  var svg = GenerateSvg(targetChart);
  $container = $("#" + targetChart), width = $container.width(), height = $container.height();
  if (width < min_width) width = min_width;if (height < min_width) height = min_width;
  var options = { data: {},  width: width, height: height, r: 60, ir: 0, color: d3.schemeCategory10, title: chartTitle }
  $("#" + targetChart).piechart(options);
  $("#" + targetChart).piechart('update', pieData);
  
  targetChart = "chart2";
  chartTitle = "Peat composition";
  var svg = GenerateSvg(targetChart);
  BarChart.StackedVertical(targetChart,data,25,25,10,chartTitle,d3.schemeCategory10,"Kilo Ton CO2-eq");

  targetChart = "chart3";
  chartTitle = "Sequestration per district"; // (mil ha)";
  var barData2 = barData2.map( function(d,i){ return {x:d.x, y:d.y/1000}; });
  var svg = GenerateSvg(targetChart);
  BarChart.horizontal(targetChart,barData2,0.25,0,10,"bar2",chartTitle,"Kilo Ton CO2-eq");

  targetChart = "chart4";
  chartTitle = "Sequestration per land use planning zone";
  var svg = GenerateSvg(targetChart);
  BarChart.SingleStackedHorizontal(targetChart,dataset,25,25,10,chartTitle);

</script>

{% endblock %}