{% extends "content.html" %}

{% block sidebar-title %}Historical Condition{% endblock %}

{% block sidebar-menu %}
      <li><a class="waves-effect" href="/history/lulc">Land use / land cover change</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!">Environmental services</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!">Economic</a></li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                  <li>
                        <a class="collapsible-header active">Comodity</a>
                        <div class="collapsible-body">
                          <ul>
                            <li><a href="/data_info/other_plan">Market / Value chain</a></li>
                            <li><a href="#!">Issue</a></li>
                          </ul>
                        </div>
                  </li>
            </ul>
      </li>
      <li><div class="divider"></div></li>
{% endblock %}
