{% extends "history_base.html" %}
{% load staticfiles %}

{% block custom-head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/leaflet-legend.css' %}" />
    <link rel="stylesheet" href="{% static 'css/leaflet-sidebar.css' %}" />
    <style type="text/css">
        #map { height: 600px; width: 100%; margin-bottom: 12px; }
        #map .card-content, .chart-container .card-content { padding: 5px 10px; }
        #map .card-content strong { font-weight: bold; }
        .feature-info { width: auto; }

        .leaflet-tooltip { background: transparent; border-color: transparent; box-shadow: none; }
        .leaflet-tooltip-right:before { border-right-color: transparent; }
        
        /*#sidebar { background-color:  }*/
        #sidebar span.badge h5 { margin: 0; }
        #sidebar li.collection-item.avatar { padding-left: 20px !important; min-height: 70px !important; }
        #sidebar h1 { display: inline; margin-right: 20px; }
        #sidebar h4 { margin: 5px 0px; }
        #sidebar li.collection-item { border-bottom: 2px solid #dcedc8; }

        .bar { fill: #ff7f0e; }
        .bar2 { fill: #2ca02c; }

    </style>
{% endblock %}