{% extends "history_base.html" %}
{% load staticfiles %}

{% block custom-head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <style type="text/css">
        /*#map { height: 700px; width: 800px; }*/
        #map { height: 600px; width: 100%; }
        .bar { fill: steelblue; }
        .bar:hover { fill: brown; }
        .axis--x path { /* display: none; */ }

        .svg-container {
          display: inline-block;
          position: relative;
          width: 100%;
          /*padding-bottom: 100%;*/ /* aspect ratio */
          vertical-align: middle;
          /*overflow: hidden;*/
        }
        .svg-content-responsive {
          /*display: inline-block;*/
          display: block;
          position: absolute;
          top: 0px;
          left: 0;
        }
    </style>
{% endblock %}

{% block content-title %}Land use & land cover change{% endblock %}

{% block content-body %}
    <!--div class="row content-heading">
      &nbsp;
    </div-->

    <div class="content-box">
      <div class="row">
        <div class="input-field col s12 m12 l5">
          <select id="cbCommodity">
            {% for c in commodity %}
              {% if c.value == "" %}
              <option value="{{ c.value }}" disabled selected>{{ c.name }}</option>
              {% elif c.value == commodity_value %}
              <option value="{{ c.value }}" selected>{{ c.name }}</option>
              {% else %} 
              <option value="{{ c.value }}">{{ c.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <label>Commodity</label>
        </div>
        <div class="input-field col s12 m12 l5">
          <select id="cbPeriod">
            {% for period_text in period %}
              {% if period_text == '' %}
              <option value='' disabled selected>Select period</option>
              {% elif period_text == selected_period %}
              <option value='{{ period_text }}' selected>{{ period_text }}</option>
              {% else %}
              <option value='{{ period_text }}'>{{ period_text }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <label>Period</label>
        </div>
        <div class="input-field col s12 m12 l2 center-align">
          <a id="btnShow" class="waves-effect waves-light btn">Show</a>
        </div>
      </div>
    </div>

    <div class="row content-heading">
      {{ commodity_name | safe }}
    </div>

    <div class="row">
      <div class="col s12 m12 l7">
        <div id="map"></div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6">
        <div class="row content-heading">Land cover changes</div>
        <chart1>
      </div>
      <div class="col s12 m12 l6">
        <div class="row content-heading">Composition</div>
        <chart2>
      </div>
    </div>
{% endblock %}

{% block custom-footer %}

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $("#btnShow").on( "click", function() {
    var txtCommodity = $("#cbCommodity").val();
    var txtPeriod = $("#cbPeriod").val();

    if (txtCommodity != "" && txtPeriod != "") {
      var url = "/history/lulc/" + txtCommodity + "/" + txtPeriod ;
      //alert(url);
      location.href = url;
    }
    else 
      alert("Please select a commodity and/or a period");
  });
</script>

<script src="{% static 'js/leaflet.js' %}"></script>
<script type="text/javascript">
  var geojson_data =
  {
    "type": "FeatureCollection",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    {% for feat in map_data %}
      {
        "type": "Feature",
        "geometry": {
          "type": "{{ feat.geometry.type }}",
          "coordinates": {{ feat.geometry.coordinates }}
        },
        "properties": {
          {% for key, val in feat.properties.items %}"{{ key }}": "{{ val }}",{% endfor %}
        },
      },
      {% endfor %}
    ]
  }

  var map = new L.Map('map');
  var range_color = [ "#fef0d9","#fdcc8a","#fc8d59","#e34a33","#b30000"];
  var maxval = {{ map_max_value }}; //1705228.051;
  var minval = {{ map_min_value }}; //44.656;

  function getColorIndex(value) {
    var maxlength = range_color.length;
    var range = (maxval - minval) / maxlength;
    if (value > maxval || value < minval) return -1;

    for ( i = 0; i < maxlength-1; i++ ) {
      if( (value-minval) >= range*i && (value-minval) < range*(i+1) ) { return i; }
    }

    return maxlength-1;
  }

  function getStyle(feature) {
    var luas = feature.properties.DATA;
    var cIndex = getColorIndex(luas);
    var fillColor = (cIndex >= 0) ? range_color[cIndex] : "#ccc";

    return { color: "#999", weight: 1, fillColor: fillColor, fillOpacity: .6 };
  }

  function getOnEachFeature(feature,layer) {
    var strpop = "";
    strpop += "<strong>" + feature.properties.KABKOTA + "</strong>";
    strpop += "<br>Area: " + feature.properties.DATA;
    layer.bindPopup( strpop );
  }

  mapData = L.geoJson(geojson_data, { style: getStyle, onEachFeature: getOnEachFeature });
  mapData.addTo(map);
  map.fitBounds(mapData.getBounds());

</script>

<!-- General script for Chart -->
<script src="{% static 'js/d3.min.js' %}"></script>
<script type="text/javascript">
  var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 640 - margin.left - margin.right,
    height = 480 - margin.top - margin.bottom;
  
  function GenerateSvg(targetChart) {
    return d3.select(targetChart).append("div").classed("svg-container", true)
      .append("svg")
      .attr("preserveAspectRatio", "xMinYMin meet")
      .attr("viewBox", "0 0 640 480")
      .classed("svg-content-responsive", true)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  }
</script>
<!-- script specific for Bar Chart -->
<script type="text/javascript">
  var barData = [
  {% if not com_period_data.empty %}
    {% for row in com_period_data.itertuples %}
      {'x': "{{ row.Index }}",'y': {{ row.COUNT }}},
    {% endfor %}
  {% endif %}
  ];

  var targetChart = "chart1";
  var svg = GenerateSvg(targetChart);
</script>
<script src="{% static 'js/barChart.js' %}"></script>

<!-- script specific for Pie Chart -->
<script src="{% static 'js/donut3d.js' %}"></script>
<script type="text/javascript">
  var pie_color = ["#109618","#3366CC","#DC3912","#109618","#990099"];

  var pie_datasource = [
  {% if not com_period_peat.empty %}
    {% for row in com_period_peat.itertuples %}
      {'x': "{{ row.Index }}",'y': {{ row.COUNT }}},
    {% endfor %}
  {% endif %}
  ]

  var pieData = pie_datasource.map( function(d,i){ return {label:d.x + "-" + i, value:d.y, color:pie_color[i]}; });

  targetChart = "chart2";
  svg = GenerateSvg(targetChart);
  svg.append("g").attr("id","PieChart");

  Donut3D.draw("PieChart", pieData, 285, 200, 140, 110, 20, 0);

</script>
{% endblock %}