{% extends "history_base_map.html" %}
{% load staticfiles %}

{% block content-title %}Economic - Profitability{% endblock %}

{% block content-body %}
    <div class="content-box" style="padding: 20px 15px 0px;">
      <div class="row">
        <div class="input-field col s12 m12 l8">
          <select id="cbPeriod">
          {% for period_text in period %}
            {% if period_text == '' %}
            <option value='' disabled selected>Select period</option>
            {% elif period_text == selected_period %}
            <option value='{{ period_text }}' selected>{{ period_text }}</option>
            {% else %}
            <option value='{{ period_text }}'>{{ period_text }}</option>
            {% endif %}
          {% endfor %}
          </select>
          <label>Period</label>
        </div>
        <div class="input-field col s12 m12 l4 center-align">
          <a id="btnShow" class="waves-effect waves-light btn">Show</a>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div class="row content-heading">
        Profitability
      </div>

      <div class="row">
        <div class="col s12 m12 l10 = offset-l1">
          <div id="map"></div>
        </div>
      </div>
    </div>
    
{% endblock %}

{% block custom-footer %}
<script src="{% static 'js/leaflet.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });

  $("#btnShow").on( "click", function() {
    var txtPeriod = $("#cbPeriod").val();

    if (txtPeriod != "") {
      var url = "/history/economic-profitability/" + txtPeriod ;
      //alert(url);
      location.href = url;
    }
    else 
      alert("Please select a period");
  });
</script>

{% endblock %}
