{% extends "content.html" %}

{% block sidebar-title %}History{% endblock %}

{% block sidebar-menu %}
      <li><a class="waves-effect" href="/history">Introduction</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="/history/lulc">Land use & land cover change</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!">Environmental impact</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!">Social impact</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!">Economy impact</a></li>
      <li><div class="divider"></div></li>
{% endblock %}
