{% extends "ggp_base.html" %}
{% load staticfiles%}

{% block content-title %}Green Growth Plan Strategies{% endblock %}

{% block content-body %}
    <p>Ruang lingkup Rencana Induk Pertumbuhan Ekonomi Hijau  adalah sumber daya alam terbarukan yang terkait dengan lima komoditi unggulan. Dalam rangka mencapai kelima capaian dambaan Pertumbuhan Ekonomi Hijau melalui kelima komoditi unggulan tersebut, tujuh strategi (Gambar 1) telah diidentifikasi, yaitu: </p>

    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s1.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">1.	Sustainable allocation and land-use planning that addresses the gap between land demand and supply</h5>
		    <p>Berbagai kepentingan lokal, regional maupun global bermuara pada kebutuhan akan lahan (<i>land requirement</i>). Namun, karena berbagai keterbatasan seringkali tidak semua kebutuhan akan lahan bisa dipenuhi oleh ketersediaan lahan lokal (<i>land availability</i>) yang memadai pada semua area. Oleh karena, itu sangat diperlukan adanya proses penyelarasan dan prioritasisasi antara kedua faktor tersebut sehingga bisa tercapai tata guna lahan yang adil, efektif dan berkelanjutan. The first strategy essentially elaborates and sharpens South Sumatra Province Spatial Land Planning (RTRWP) and thereby able to indicate the locations for the implementation of the other six strategies. This strategy seeks to balance demand and needs for land whilst maintaining or improving environmental quality. Expansion is possible in certain, appropriate areas with low environmental impacts. Protected areas have to be monitored to avoid environmental damage and GHG emission increase.</p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/1">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s2.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">2.	People’s access to development and livelihood capital</h5>
		    <p>Modal penghidupan secara garis besar mencakup lima hal, yaitu: modal alam, fisik, financial, sosial dan sumber daya manusia. Sumber Daya Aalam (SDA) dan Sumber Daya Manusia (SDM) adalah modal yang merupakan unsure lokal, sedangkan penanaman modal sebagai modal finansial dan jaringan kerja antar wilayah sebagai modal sosial merupakan unsure eksternal. Tanpa adanya akses yang baik terhadap lima modal tersebut, beberapa kelompok masyarakat tidak mampu berpartisipasi dalam Pertumbuhan Ekonomi Hijau meskipun tataguna lahan sudah adil dan efektif, sehingga peningkatan pendapatan dan penghidupan tidak akan tercapai. Dengan adanya akses terhadap modal alam, fisik, finansial, sosial dan pengembangan SDM melalui perbaikan prasarana, sarana, maka petani dapat merasakan pemerataan pertumbuhan ekonomi dan memiliki ketahanan (<i>resilience</i>) terhadap fluktuasi harga dan musim;</p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/2">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s3.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">3.	Increase of Productivity and Diversification</h5>
		    <p>Teknologi dan praktek pengelolaan lahan yang diterapkan berpengaruh terhadap produktivitas.  Peningkatan produktivitas melalui perbaikan teknologi dan praktek pengelolaan lahan diharapkan dapat menekan ekspansi dan konversi lahan. Melalui perbaikan teknologi dan praktek pengelolaan lahan, maka laju ekonomi yang tinggi bisa dicapai tanpapenggunaan lahan yang ekspansif sehinggadampak negatif lingkungan dapat dihindari; Diversifikasi komoditi dapat dilakukan untuk menghindari fluktuasi harga karena melipahnya komoditas tertentu, dan menghindari fluktuasi musim ketika produktivitas suatu suatu komoditas rentan terhadap perubahan musim.</p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/3">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s4.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">4.	Sustainable value chain with equal benefit sharing</h5>
		    <p>Melalui perbaikan rantai nilai dari hasil pertanian/perkebunan/kehutanan Sumatera Selatan mempunyai tele-<i>connectivity</i> global. Manfaat yang diterima dalam rantai tersebut sebagian tetap ataupun kembali dinikmati oleh pelaku di Sumatra Selatan. Dengan mendorong adanya rantai pasar maupun rantai nilai yang lebih efektif dan adil dalam pembagian manfaat antara petani, perantara/pedagang/<i>intermediary</i> dan industri hilir, serta penambahan nilai di area penghasil bahan baku, manfaat pengganda bisa dinikmati di tingkat lokal.  Pembagian manfaat yang lebih baik dan adil sepanjang rantai nilai akan mendorong tercapainya pemerataan pertumbuhan dan juga ketahanan sosial yang lebih tinggi; </p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/4">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s5.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">5.	Improving connectivity and economic scale</h5>
		    <p>Konektivitas menghubungkan antar wilayah di dalam Provinsi Sumatera Selatan maupun antar wilayah di Sumatera atau ke luar Sumatera, bahkan antar negara dalam arus perdagangan, arus aliran tenaga kerja, produk mentah dan olahan. Peningkatan konektivitas tersebut akan menciptakan skala ekonomi sehingga mendorong laju pertumbuhan ekonomi serta ketahanan ekonomi dengan meningkatkan PDRB serta pemerataan. Dengan adanya industri hilir, ketahanan terhadap fluktuasi harga bahan mentah juga akan meningkat; </p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/5">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s6.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0">6.	Landscape Restoration</h5>
		    <p>Land and forest restoration, or Strategy 6, seeks to restore certain functions allocated for certain areas. This strategy is not limited to restoring forest ecology that will return an area into a natural forest, but also to revitalize livelihood. Restorasi berpotensi menyumbang peningkatan ketersediaan lahan untuk memenuhi berbagai kesenjangan dalam kebutuhan lahan. Selain itu, restorasi untuk mengembalikan fungsi akan meningkatkan ketahanan lingkungan. Target restorasi yang cukup tinggi sudah disepakati oleh masyarakat global yang tergabung dalam <i>Bonn Challenge</i> dan salah satu mekanisme pendanaan melalui <i>Tropical Lanskap Bond</i>.</p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/6">More</a>
        </div>
    </div>
    <div class="row">
        <div class="col s3 center">
        	<img align="center" src="{% static 'images/icon_s7.png' %}" />
        </div>
        <div class="col s9">
		    <h5 style="margin-top: 0"	>7.	Environmental service incentives and innovative financing of sustainable commodities</h5>
		    <p>Mekanisme insentif/disinsentif jasa lingkungan sangat potensial dalam mendukung capaian Pertumbuhan Ekonomi Hijau dalam menurunkan emisi GRK, meningkatkan ketahanan dan menjaga kualitas lingkungan dalam menyediakan jasa lingkungan. Pembayaran Jasa Lingkungan (PJL) sebenarnya sudah dicanangkan dalam UU 23/2009 akan tetapi sampai saat ini implementasinya masih sangat terbatas. Demikian juga program global pemberian insentif bagi penurunan emisi GRK yang telah direncanakan sebagai program REDD+ sampai saat ini belum aktif. The seventh strategy represents South Sumatra’s innovative strategy given that incentive mechanism for environmental services is yet to be widely implemented. This strategy aims to reduce GHG emission and to maintain ecosystem services quality.</p>
        	<a class="waves-effect waves-light btn" href="/{{ LANGUAGE_CODE }}/ggp/strategy/7">More</a>
        </div>
    </div>
    <p>&nbsp;</p>
    <p align="center"><img class="responsive-img" src="{% static 'images/strategy_en.png' %}" />
    <br><b>Figure 1.</b> Green Economic Growth Strategy<br></p>

    <p>Lebih lanjut untuk keperluan penyusunan Sistem Pemantauan dan Evaluasi, capaian dambaan untuk masing-masing strategi telah dikembangkan (Tabel 1). Selanjutnya capaian dambaan dari masing-masing strategi digunakan untuk mengidentifikasi intervensi yang diperlukan, dan dirinci lebih lanjut menjadi aktivitas/kegiatan yang menjadi bagian utama dari Peta Jalan.</p>

	<p>Tabel 1. Strategy outcomes</p>

    <p align="center">
		<table class="responsive-table bordered striped">
        <thead>
          <tr class="yellow darken-2">
              <th data-field="id" class="center-align" width="300px">Strategy</th>
              <th data-field="id" class="center-align">Desired Outcome</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td style="vertical-align: top;"><b>Sustainable allocation and land-use planning that addresses the gap between land demand and supply;</b></td>
            <td style="vertical-align: top;">•  Balanced production and protection functions, location suitability<br>
•   Equality in land ownership between communities and private companies<br>
•   Priority area to revitalize degraded function<br>
•   Less conflict and permit overlap<br>
•   Allocation policy and enforcement effectively implemented
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Improve people’s access to livelihood capital: natural, physical, financial, human, and social;</b></td>
            <td style="vertical-align: top;">•  Need for land and agricultural and forestry production facilities are met<br>
•   Adequate infrastructure for the communities to carry out economic activities or to meet their needs<br>
•   Access to credit or other financial institutions that provide lending and deposit services<br>
•   Enhancing skills to perform good agricultural practices and marketing supported by extension programs and funding<br>
•   Expansion of networks and business investors that will drive collective actions, partnership, marketing, and knowledge and information transfer
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Increase of productivity and diversification; </b></td>
            <td style="vertical-align: top;">•  Drive the implementations of good agricultural practices, which will result in increased return to land, maintained land fertility, and sustainable agricultural system<br>
•   Low-emission agricultural practices to contribute to the reduction of greenhouse gas emission at provincial level <br>
•   Increase the size of agroforestry areas integrated with livestock management to produce a wide variety of commodities, meet consumption and household income demand through the introduction of agricultural technology for labor efficiency (return to labor)<br>

            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Improve value chain by ensuring fair distribution of benefits; </b></td>
            <td style="vertical-align: top;">•  Price improvement at provincial level<br>
•   Improved post-harvest quality, followed with price increase<br>
•   Equal partnership between farmers and private players <br>
•   Fulfillment of raw material specification as required by industry and consumers; materials are certified (quality and environmental certification)

            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Improve connectivity and economies of scale; </b></td>
            <td style="vertical-align: top;">•  Improvement of investment climate through infrastructure development in transportation, labor availability, etc.<br>
•   Continued development of downstream industry according to commodity areas<br>
•   Innovative downstream agriculture and forestry sectors in commodity centers, among others involving communities as shareholders<br>

            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Restore degraded land and forests;</b></td>
            <td style="vertical-align: top;">•  Identify degraded land by type of degraded function and restoration<br>
•   Expansion of areas successfully restored<br>

            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
            	<b>Provide incentive for ecosystem services and innovative funding for sustainable commodities</b></td>
            <td style="vertical-align: top;">•  Availability of environmental policy and governance that support ecosystem services incentive mechanism<br>
•   Commodity certification and jurisdiction-based landscape certification systems built and running<br>
•   Water commodity and fair compensation system for sustainable water supply managed <br>
•   Voluntary market of various ecosystem services, e.g. water management, eco-tourism, reduction of carbon stock, and biodiversity conservation built <br>
 
            </td>
          </tr>
        </tbody>
      </table>
    </p>

    <h4>Impact Projection</h4>
    <p>With respect to the five achievement areas targeted by South Sumatra Green Economic Growh, 17 provincial Green Economic Growh indicators are identified. Under Business as Usual (BAU) scenario, the Masterplan for Green Growth aims to reduce GHG emission by 22% excluding emission from fire incident. The projction of clean emission in Production Forest is negative until 2030, where sequestration is higher than emission; under BAU scenario, Production Forest remains as the largest source of emission. The Masterplan for Green Growth can contribute to maintaining biodiversity in its landscape by sustaining the integration of dryland forest and mangrove forest with their surrounding landscape. Regional GDP is projected to increase by 6.4% by 2030 compared to BAU. The rate of Regional GDP growth from land-based sectors until 2030 is 1.9% per annum.</p>

    <p>&nbsp;</p>
    <p align="center"><img class="responsive-img" src="{% static 'images/strategy2_en.png' %}" />
    <br><b>Figure 10.</b> Interconnection of green growth strategy and objectives<br></p>

    <p>Relative to the BAU scenario, the strategy of reducing expansion of commodity areas by considering land availability and sustainability – including HCV and HCS, licensing, regulation, land suitability, and other factors – result in a lower Regional GDP projection for the first two simulation periods, but the 2030 projection is equal to BAU. When comparing expansion strategy with the strategy to increase productivity and benefits per unit area (intensification, good agricultural practices, agroforestry), Regional GDP is estimated to grow by 3% from BAU by the end of 2030. Improvement of value chain through better market access, improvement of economic scale, and development of production facilities (downstream industry) is projected to increase Regional GDP by 6.4% of BAU given the multiplier effects. Study on downstream industry intervention is limited to coffee, rubber, and oil palm commodities.</p>

    <p align="center"><img class="responsive-img" src="{% static 'images/strategy3_en.png' %}" />
    <br><b>Figure 11.</b> Impact projection of Green Growth Plan to Gross Domestic Regional Product (GDRP)<br></p>

    <p align="center"><img class="responsive-img" src="{% static 'images/strategy4_en.png' %}" />
    <br><b>Figure 12.</b> Impact projection of Green Growth Plan to green house gas emission<br></p>

    <p><b>Table 4.</b> Macro Indicator comparison of Green Growth and Business as Usual Scenario<br><img class="responsive-img" src="{% static 'images/strategy5_en.png' %}" />
    <br></p>

{% endblock %}