{% extends "ggp_base.html" %}
{% load staticfiles%}

{% block content-title %}Green Growth Plan Strategies{% endblock %}

{% block content-body %}
    <h4>Strategy 5: Improving connectivity and economic scale</h4>
    <p>One of the main strategies in the Masterplan for the Acceleration and Expansion of Indonesia’s Economic Development (MP3EI) is to improve the national economic connectivity. The implementation manual outlines the need for integration between logistical and transportation systems and area development plans, among others.</p>
    <p>Area connectivity improvement will improve the smoothness of the supply chain and the economic scale of area development activities, allowing economic activities to be implemented more efficiently and effectively. Area connectivity improvement will reduce gaps between commodity production centers and thereby improving the areas’ competitive advantages and economic scale.</p>
    <p>Strategy 5 outlines activities needed to improve area connectivity and the economic scale of commodity development. In addition to the economic aspect, connectivity improvement and economic scaling up are also expected to boost green growth and motivate farmers to use sustainable farming practices.</p>
    
    <p><b>Table 10.</b> Interventions, outcomes, indicators and enabling policy of Strategy 5</p>
    <p align="center">
        <table class="responsive-table bordered striped">
        <thead>
          <tr class="yellow darken-2">
              <th data-field="id" class="center-align">Intervention</th>
              <th data-field="id" class="center-align">Expected achievement</th>
              <th data-field="id" class="center-align">Expected achievement</th>
              <th data-field="id" class="center-align">Enabling policy</th>
          </tr>
        </thead>

        <tbody>
            <tr>
                <td style="vertical-align: top"><b>1. Development of roads from commodity centers to mills and markets</b></td>
                <td style="vertical-align: top">Easy and cheap access to markets in order to attract farmers’ interest, provide value added, and benefit farmers</td>
                <td style="vertical-align: top">- Length of farm roads built<br>
- Length of roads and the number of modes of transport available to connect production centers to industry and markets<br>
- Total area of plantations well managed<br>
- Productivity (production per hectare)<br>
- Transportation cost<br>
- Amount of profits from farming<br>
- Industrial locations relative to commodity production centers<br>
- Raw material supply to industry

                </td>
                <td rowspan="9" style="vertical-align: top; border-left: 1px solid #d0d0d0">•   UU Nomor 22/2009 tentang Lalu Lintas dan Angkutan Jalan<br>
•   PP Nomor 74/2014 tentang Angkutan Jalan<br>
•   Permentan Nomor 41/Permentan/OT.140/3/2014 tentang Pedoman Perencanaan Pembangunan Pertanian Berbasis E-Planning

                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>2. Investments in downstream coffee industry and finished-product distribution to consumers as a priority of strategic development areas</b></td>
                <td style="vertical-align: top">- Downstream coffee industry supported by the guaranteed hulled green coffee bean supply chain, good infrastructure, sufficient number of workers, and other adequate production facilities, including clean water supply, electricity, workers<br>
- Distribution of finished coffee products for marketing to meet demands from inside and outside the province
</td>
                <td style="vertical-align: top">- Number, size and distribution of downstream coffee factories<br>
- Profits obtained by downstream rubber companies<br>
- Ratio of hulled green coffee beans sent outside to the total production<br>
- Volume of finished coffee products sent outside<br>
- Coffee farmers’ income<br>
- Type and number of partnerships established between coffee farmers and companies<br>
- Number of workers hired by downstream coffee industry
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>3. Investments in downstream industry, improvement of transportation infrastructure that connects the crumb rubber supply chain to strategic industry, and distribution of processed products as a priority of strategic development areas</b></td>
                <td style="vertical-align: top">- Downstream rubber industry supported by guaranteed rubber and other raw material supply chains, good infrastructure, sufficient number of workers, and other adequate production facilities, including clean water supply, electricity, workers<br>
- Distribution of processed rubber for marketing to meet demands from inside and outside the province
</td>
                <td style="vertical-align: top">- Number, size and distribution of downstream rubber factories<br>
- Profits obtained by downstream companies<br>
- Ratio of raw rubber sent outside to the total production<br>
- Volume of processed rubber products sent outside<br>
- Rubber farmers’ income<br>
- Type and number of partnerships established between rubber farmers and companies<br>
- Number of workers hired by downstream rubber industry
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>4. Investments in downstream industry, improvement of transportation infrastructure that connects the crude palm oil (CPO) supply chain to strategic industry, and processed product distribution as a priority of strategic development areas</b></td>
                <td style="vertical-align: top">- Downstream oil palm industry supported by guaranteed CPO and other raw material supply chains, good infrastructure, sufficient number of workers, and other adequate production facilities, including clean water supply, electricity, workers<br>
- Distribution of processed palm oil for marketing to meet demands from inside and outside the province
</td>
                <td style="vertical-align: top">- Number, size and distribution of downstream palm oil companies<br>
- Profits obtained by downstream palm oil companies<br>
- Ratio of raw palm oil sent outside to the total production<br>
- Volume of processed palm oil products sent outside<br>
- Oil palm farmers’ income<br>
- Type and number of partnerships established between oil palm farmers and companies<br>
- Number of workers hired by downstream palm oil companies

                </td>
            </tr>
        </tbody>
      </table>
    </p>

    <p><h5>Intervention 5.1. Transportation mode from commodity centers to mills and markets</h5></p>
    <p>In the agricultural and plantation sectors in South Sumatra, many production centers of key commodities, including coffee, oil palm and rubber, are not well connected to industrial areas and markets. To improve connectivity and the economic scale of commodity development, the identification of road networks to connect commodity production centers to strategic industrial areas is needed. Building on the identification, a feasibility study should be conducted to take into account the economic and ecological impacts of the construction of roads from production centers to strategic areas. Roads are constructed with financial support from both the government and investors. The road construction is not only prioritized in commodity centers located in strategic areas, but is also planned to reach commodity producers located in inaccessible areas.</p>
    
    <p><h5>Intervensi 5.2. Infrastuktur, tenaga kerja, sarana produksi dan distribusi untuk industri hilir kopi <i>speciality</i></h5></p>
    <p>Industri hilir kopi sangat berpotensi dalam memberikan nilai tambah yang tinggi terutama jika dikembangkan produk diversifikasi produk olahannya dengan rasa khas, seperti kopi <i>speciality</i> Semendo khas Sumatera Selatan. Selain itu, meningkatnya konsumsi kopi dunia menjadi salah satu pendorong bagi industri pengelolahan kopi untuk meningkatkan produksinya. Dalam meningkatkan produksi, industri pengolahan kopi memerlukan suplai bahan baku yang lebih banyak. Oleh karena itu, sebagai bagian dari Strategi 5 untuk meningkatkan skala ekonomi, industri hilir kopi yang ditunjang dengan rantai pasokan beras kopi yang terjamin, infrastruktur yang baik, tenaga kerja yang mencukupi, dan sarana produksi lain yang memadai, antara lain pasokan air bersih dan listrik, merupakan salah satu kunci sukses sektor ini.</p>

    <p><h5>Intervensi 5.3. Infrastuktur, tenaga kerja dan sarana produksi dan distribusi untuk industri hilir  karet bersih</h5></p>
    <p>Investasi industri hilir, perbaikan infrastruktur transportasi yang menghubungkan rantai nilai suplai  crumb rubber dengan industri strategis dan distribusi produk olahan sebagai bagian dari prioritas kawasan strategis pembangunan</p>
    <p>Industri hilir karet yang ditunjang dengan rantai pasokan karet dan bahan baku lain yang terjamin, infrastruktur yang baik, tenaga kerja yang mencukupi, dan sarana produksi lain yang memadai, a.l. pasokan air bersih, listrik, tenaga kerja</p>
    <p>Distribusi pemasaran bahan olahan karet yang bisa menjawab permintaan dari dalam maupun luar provinsi</p>

    <p><h5>Intervensi 5.4. Infrastuktur, tenaga kerja dan sarana produksi dan distribusi untuk industri hilir  sawit tersertifikasi nasional dan international</h5></p>
    <p>Investasi industri hilir, perbaikan infrastruktur transportasi yang menghubungkan rantai nilai suplai Crude Palm Oil (CPO) dengan industri strategis serta distribusi produk olahan sebagai bagian dari prioritas kawasan strategis pembangunan</p>
    <p>Industri hilir kelapa sawit yang ditunjang dengan rantai pasokan CPO dan bahan baku lain yang terjamin, infrastruktur yang baik, tenaga kerja yang mencukupi, dan sarana produksi lain yang memadai, a.l. pasokan air bersih, listrik, tenaga kerja</p>
    <p>Distribusi pemasaran bahan olahan minyak sawit yang bisa menjawab permintaan dari dalam maupun luar provinsi</p>
    
{% endblock %}