{% extends "ggp_base.html" %}
{% load staticfiles%}

{% block content-title %}Green Growth Plan Strategies{% endblock %}

{% block content-body %}
    <h4>Strategy 6 : Landscape Restoration</h4>
    <p>Development has impacts on the environment. The development of different sectors in South Sumatra also has impacts on the functions of the environment, including land degradation, particularly by land-based development such as the development of plantation forests, mines, agricultural land and plantations. Moreover, land is also being degraded by forest and land fires, which have repeatedly occurred for the last several years in this province. Restoration needs to be carried out to restore and improve the functions of the environment that have lost, particularly in order to tackle land degradation issues as an impact of development.</p>

    <p><b>Table 11.</b> Interventions, outcomes, indicators and enabling policy of Strategy 6</p>
    <p align="center">
        <table class="responsive-table bordered striped">
        <thead>
          <tr class="yellow darken-2">
              <th data-field="id" class="center-align">Intervention</th>
              <th data-field="id" class="center-align">Expected Achievement</th>
              <th data-field="id" class="center-align">Recommended Indicators</th>
              <th data-field="id" class="center-align">Enabling Policy</th>
          </tr>
        </thead>

        <tbody>
            <tr>
                <td style="vertical-align: top"><b>1. Finance, policies and partnerships supporting the restoration program</b></td>
                <td style="vertical-align: top">Restoration is carried out using public funds, and with support from the private sector and international partners</td>
                <td style="vertical-align: top">- Amount of money allocated in regional budgets for land restoration<br>
- Number of companies and donors that become restoration partners<br>
- Amount of financing provided by non-governmental organizations<br>
- Total area of land restored

                </td>
                <td rowspan="9" style="vertical-align: top; border-left: 1px solid #d0d0d0">•   PP 76/2008 tentang Rehabilitasi dan Reklamasi Hutan <br>
•   PP Nomor 57/2016 tetang perubahan atas PP 71/2014 tentang Perlindungan dan Pengelolaan Ekosistem Gambut<br>
•   PermenLHK Nomor P.12/Menlhk-12/2015 tentang Pembangunan HTI <br>
•   PermenLHK Nomor 32/2016 tentang Pengendalian Kebakaran Hutan dan Lahan<br>
•   PermenLHK Nomor 39/2016 tentang Perubahan Atas Permen P.9/MenhutT-II/2013 tentang Tata Cara Pelaksanaan, Kegiatan Pendukung dan Pemberian Insentif Kegiatan Rehabilitasi Hutan dan Lahan <br>
•   Perda SumSel Nomor 8/2016 tentang Pengendalian Kebakaran Hutan

                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>2. Land restoration using the agroforestry system (local coffee and rubber)</b></td>
                <td style="vertical-align: top">Community livelihood revitalization through agroforestry-based coffee and rubber cultivation on non-productive land in cultivation areas</td>
                <td style="vertical-align: top">- Total area of land planted with coffee using the agroforestry system<br>
- Total area of land planted with rubber using the agroforestry system<br>
- % of monoculture plantations that become agroforestry<br>
- Number of nurseries established and managed by people
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>3. Replanting industrial timber plantations in primary crop zones</b></td>
                <td style="vertical-align: top">Plantation forest ecosystems in industrial timber plantation primary zones are recovered and sustainably managed</td>
                <td style="vertical-align: top">- Total area replanted in industrial timber plantation primary crop zones<br>
- Number of forest concessions managed using good practices<br>
- % of crops successfully grown
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>4. Rehabilitation (replanting) in the crops for livelihoods zones</b></td>
                <td style="vertical-align: top">A positive impact of the economy on the livelihoods of people living inside and around forests, and positive ecological impacts in which fire risk is mitigated and biodiversity is improved.</td>
                <td style="vertical-align: top">- Total area of crops for livelihoods zones rehabilitated<br>
- Number of forest concessions managed using good practices<br>
- Number of farmers involved in activities<br>
- Number of partner companies<br>
- % of crops successfully grown

                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>5. Natural succession of HCV and HCS areas</b></td>
                <td style="vertical-align: top">Healthy, natural ecosystems with protected and sustainably managed local biodiversity and endemics</td>
                <td style="vertical-align: top">- Total HCV and HCS areas in their natural condition<br>
- Ecosystem recovery rate<br>
- % of crops successfully grown<br>
- Number of forest concessions managed using good practices

</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>6. Rehabilitation of degraded HCV and HCS areas</b></td>
                <td style="vertical-align: top">Healthy, natural ecosystems with recovered, protected and sustainably managed local biodiversity and endemics</td>
                <td style="vertical-align: top">- Total HCV and HCS areas rehabilitated<br>
- Number of forest concessions managed using good practices<br>
- % of local species successfully grown
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>7. Peatland restoration</b></td>
                <td style="vertical-align: top">Peatland natural ecosystems are protected and managed in accordance with their designated functions (cultivation, production forest commodities and protection forests) through natural methods/planting and infrastructure</td>
                <td style="vertical-align: top">- Total area of degraded peatlands<br>
- Total area of paludiculture land<br>
- Share of peatlands designated for paludiculture<br>
- Number of paludiculture farmers<br>
- Gross value added of paludiculture<br>
- Total area with high fire risk<br>
- Emission level<br>
- Total area of forest cover<br>
- Length of canals well managed
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>8. Integrated forest and land fire management</b></td>
                <td style="vertical-align: top">Low forests and land fire risk and frequency with small burned areas, on mineral land and peatlands</td>
                <td style="vertical-align: top">- Number of hotspots<br>
- Total area of forests and land burned<br>
- Number of fire incidents on mineral land per year<br>
- Number of fire incidents on peatlands per year<br>
- Number of partner companies and NGOs<br>
- Number of fire-free villages<br>
- Amount of money provided to finance fire management programs<br>
- Number of forest and land firefighting brigades owned by a company
                </td>
            </tr>
        </tbody>
      </table>
    </p>

    <p><h5>Intervention 6.1 Financing, policies and partnerships that support restoration programs</h5></p>
    <p>Development in South Sumatra has impacts in that some of environmental functions are lost and lands are degraded. Environmental degradation is inevitable in development. To recover and improve environmental functions that have been degraded, restoration is needed. Restoration needs a considerable amount of money, and therefore a strong commitment is needed from the government to make policies to allocate government funds for restoration activities. Furthermore, partnerships and cooperation at the local, national and international levels also need to be developed to open up opportunities to finance restoration. In addition, restoration that has been done by community members also needs to be identified and documented.</p>
    
    <p><h5>Intervention 6.2 Land restoration using the agroforestry system (local coffee and rubber)</h5></p>
    <p>One way to restore degraded land in South Sumatra is agroforestry, which combines farm crops and trees. Rubber and coffee are two key commodities in South Sumatra, which can be cultivated using agroforestry. With agroforestry, degraded land will be able to be restored while communities’ income is improved.</p>

    <p><h5>Intervention 6.3 Replanting industrial timber plantations in primary crop zones</h5></p>
    <p>Industrial timber plantations should be sustainably managed to make them productive and to avoid environmental degradation. Replanting industrial timber plantations, particularly the crops for livelihoods zones, is significant by taking the silviculture principles into account and conducting the monitoring of every growing period.</p>

    <p><h5>Intervention 6.4 Rehabilitation (replanting) in crops for livelihoods zones</h5></p>
    <p>The share of a crops for livelihoods zone is 20 percent of the total area of an industrial timber plantation managed in partnership with community members living around the industrial timber plantation. The restoration of these zones should involve the locals to protect the zones from either natural disasters such as fires or encroachment. This can be done by establishing a forest protection program with the community. Additionally, potential for ecotourism should be explore as well in order to protect crops for livelihoods zones and at the same time improve the locals’ livelihoods.</p>

    <p><h5>Intervention 6.5 Natural succession of HCV and HCS areas</h5></p>
    <p>HCV and HCS areas are not free from the threats of environmental and land degradation. The functions and quality of these areas should immediately be restored. Natural succession is a process in which gradual changes happen over time to a degraded ecosystem. For natural succession to happen, assurance is needed that the environment is protected from external disturbances, including encroachment and fires. Succession area safeguarding should be a priority, together with public awareness raising about the importance of HCV and HCS area restoration.</p>

    <p><h5>Intervention 6.6 Rehabilitation of degraded HCV and HCS areas</h5></p>
    <p>In some degraded HCV and HCS areas, land rehabilitation needs to be conducted through planting, particularly planting local species suitable for the local condition. The rehabilitation should be supported with assisted regeneration, and the progress should be monitored to ensure it is well implemented and the success indicators are achieved.</p>

    <p><h5>Intervention 6.7 Peatland restoration</h5></p>
    <p>Many peatlands in South Sumatra have been burned in the last several years, particularly in 2015 (add more data). Peatlands are crucial ecosystems and sequestrate a large amount of carbon (how much). Peatlands in South Sumatra need to be restored in order to improve their degraded condition and to avoid fires in the future. Peatlands that the community has worked on (the cultivation zones) need a farming system suitable for peatlands without needing any drainage systems, which is known as paludiculture.</p>

    <p><h5>Intervention 6.8 Integrated forest and land fire management</h5></p>
    <p>Forest and land fires in South Sumatra need attention from everyone. The involvement and participation of the community, the private sector, NGOs and the government to tackle fires are critical. The community needs to be empowered and educated about fire prevention, for example through training about zero-burning farming methods, the provision of knowledge about early detection and fire suppression. NGOs and the private sector can be the government’s partners for community empowerment. The government should ne firm when making policies and taking actions against fires. If everyone actively works hand in hand to tackle this problem, the possibility for forest and land fire management to succeed will be bigger.</p>

{% endblock %}