{% extends "ggp_base.html" %}
{% load staticfiles%}

{% block content-title %}Strategi Pertumbuhan Ekonomi Hijau{% endblock %}

{% block content-body %}
    <h4>Strategi 6 : Restorasi lanskap </h4>
    <p>Setiap pembangunan pasti memiliki dampak dan pengaruh terhadap lingkungan. Pembangunan di berbagai sektor yang berlangsung di Sumatera Selatan pun memiliki dampak terhadap berkurangnya fungsi lingkungan termasuk di dalamnya adalah degradasi lahan, terutama yang disebabkan oleh pembangunan berbasis lahan seperti pembangunan hutan tanaman, pertambangan, pertanian dan perkebunan. Selain itu, degradasi lahan juga terjadi akibat kebakaran hutan dan lahan yang marak terjadi di provinsi ini selama beberapa tahun terakhir. Restorasi perlu dilakukan untuk mengembalikan dan memperbaiki fungsi lingkungan yang berkurang terutama untuk mengatasi masalah degradasi lahan sebagai dampak dari pembangunan.</p>

    <p><b>Tabel 11.</b> Rincian Intervensi, Capaian Dambaan,Indikator, dan Kebijakan Pemungkin pada Strategi 6</p>
    <p align="center">
        <table class="responsive-table bordered striped">
        <thead>
          <tr class="yellow darken-2">
              <th data-field="id" class="center-align">Intervensi</th>
              <th data-field="id" class="center-align">Capaian Dambaan</th>
              <th data-field="id" class="center-align">Indikator yang disarankan</th>
              <th data-field="id" class="center-align">Kebijakan Pemungkin</th>
          </tr>
        </thead>

        <tbody>
            <tr>
                <td style="vertical-align: top"><b>1. Pendanaan, kebijakan dan kemitraan yang mendukung program restorasi</b></td>
                <td style="vertical-align: top">Implementasi restorasi terwujud melalui dana publik, serta dukungan  sektor swasta dan mitra internasional</td>
                <td style="vertical-align: top">o   Volume pembiayaan APBD untuk program restorasi lahan<br>
o   Jumlah perusahaan dan donor mitra restorasi<br>
o   Volume pembiayaan dari lembaga non-pemerintah<br>
o   Luas lahan yang telah direstorasi
</td>
                <td rowspan="9" style="vertical-align: top; border-left: 1px solid #d0d0d0">•   PP 76/2008 tentang Rehabilitasi dan Reklamasi Hutan <br>
•   PP Nomor 57/2016 tetang perubahan atas PP 71/2014 tentang Perlindungan dan Pengelolaan Ekosistem Gambut<br>
•   PermenLHK Nomor P.12/Menlhk-12/2015 tentang Pembangunan HTI <br>
•   PermenLHK Nomor 32/2016 tentang Pengendalian Kebakaran Hutan dan Lahan<br>
•   PermenLHK Nomor 39/2016 tentang Perubahan Atas Permen P.9/MenhutT-II/2013 tentang Tata Cara Pelaksanaan, Kegiatan Pendukung dan Pemberian Insentif Kegiatan Rehabilitasi Hutan dan Lahan <br>
•   Perda SumSel Nomor 8/2016 tentang Pengendalian Kebakaran Hutan

                </td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>2. Restorasi lahan dengan sistem agroforestri (kopi lokal dan karet)</b></td>
                <td style="vertical-align: top">Revitalisasi penghidupan masyarakat melalui pengelolaan agroforestri kopi dan karet pada area non-produktif pada kawasan budidaya</td>
                <td style="vertical-align: top">o   Luas area kopi agroforestri<br>
o   Luas areal karet agroforestri<br>
o   % lahan monokultur perkebunan yang menjadi agroforestri<br>
o   Jumlah pembibitan rakyat mandiri
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>3. Penanaman kembali (<i>replanting</i>) HTI area di zona tanaman pokok</b></td>
                <td style="vertical-align: top">Ekosistem hutan tanaman di zona pokok HTI pulih dan dikelola secara berkelanjutan</td>
                <td style="vertical-align: top">o   Luas area replanting di zona tanaman pokok HTI<br>
o   Jumlah konsesi hutan yang memenuhi standar praktik baik<br>
o   % keberhasilan tumbuh
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>4. Rehabilitasi (<i>replanting</i>) di zona tanaman kehidupan</b></td>
                <td style="vertical-align: top">Dampak positif ekonomi bagi penghidupan masyarakat di dalam dan sekitar kawasan hutan, sekaligus dampak ekologis positif dengan berkurangnya resiko kebakaran dan peningkatan keanekaragaman hayati. </td>
                <td style="vertical-align: top">o   Luas area rehabilitasi di zona tanaman kehidupan<br>
o   Jumlah konsesi hutan yang memenuhi standar praktik terbaik<br>
o   Jumlah petani yang terlibat dalam kegiatan<br>
o   Jumlah perusahaan mitra <br>
o   % keberhasilan tumbuh
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>5. Suksesi alami areal HCV dan HCS</b></td>
                <td style="vertical-align: top">Ekosistem alami yang sehat dengan kehati lokal dan endemik terjaga dan terkelola dengan berkelanjutan </td>
                <td style="vertical-align: top">o   Luas area HCV dan HCS dalam kondisi alami<br>
o   % <i>recovery rate</i> ekosistem<br>
o   % keberhasilan tumbuh
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>6. Rehabilitasi areal HCV dan HCS yang sudah terdegradasi</b></td>
                <td style="vertical-align: top">Ekosistem alami yang sehat dengan kehati lokal dan endemik terpulihkan, terjaga dan terkelola dengan berkelanjutan</td>
                <td style="vertical-align: top">o   Luas area rehabilitasi di HCV dan HCS<br>
o   Jumlah konsesi hutan yang memenuhi standar praktik baik<br>
o   % keberhasilan tumbuh spesies lokal
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>7. Restorasi gambut</b></td>
                <td style="vertical-align: top">Ekosistem gambut alami terjaga dan terkelola sesuai dengan alokasi fungsinya (budidaya, produksi komoditas hutan dan lindung) melalui teknik alami/penanaman dan infrastruktur. </td>
                <td style="vertical-align: top">o   Luas area gambut terdegradasi<br>
o   Luas area paludiculture<br>
o   % alokasi zona budidaya gambut paludiculture<br>
o   Jumlah petani paludiculture<br>
o   Nilai tambah bruto sistem paludiculture<br>
o   Luas area dengan resiko kebakaran tinggi<br>
o   Tingkat emisi<br>
o   Luas penambahan tutupan pohon dan hutan<br>
o   Panjang kanal yang terkelola dengan baik
</td>
            </tr>
            <tr>
                <td style="vertical-align: top"><b>8. Pengelolaan kebakaran hutan dan lahan terpadu</b></td>
                <td style="vertical-align: top">Resiko dan frekuensi kebakaran hutan dan lahan rendah dengan luasan api kecil, baik pada lahan mineral maupun gambut</td>
                <td style="vertical-align: top">o   Jumlah hotspot<br>
o   Luas lahan kebakaran hutan dan lahan<br>
o   Jumlah kebakaran lahan mineral/tahun<br>
o   Jumlah kebakaran lahan gambut/tahun<br>
o   Jumlah perusahaan dan LSM mitra<br>
o   Jumlah Desa Peduli Api<br>
o   Volume pembiayaan program pengelolaan kebakaran
</td>
            </tr>
        </tbody>
      </table>
    </p>

    <p><h5>Intervensi 6.1. Pendanaan, kebijakan dan kemitraan yang mendukung program restorasi</h5></p>
    <p>Pembangunan di Sumatera Selatan yang terjadi di Provinsi Sumatera Selatan memiliki dampak terhadap berkurangnya fungsi lingkungan dan menyebabkan sejumlah degradasi lahan. Kerusakan lingkungan adalah salah satu hal yang sulit dihindari dalam pembangunan. Untuk mengembalikan dan memperbaiki fungsi lingkungan yang rusak itu, perlu dilakukan restorasi. Restorasi memerlukan biaya yang cukup besar sehingga perlu komitmen yang tegas dari pemerintah dengan menetapkan kebijakan  untuk pengalokasian dana pemerintah untuk kegiatan restorasi. Selain itu, kemitraan dan kerjasama di tingkat lokal, nasional dan internasional juga perlu dikembangkan agar peluang pendanaan restorasi semakin besar. Selain itu, praktek restorasi yang telah dilakukan oleh masyarakat juga perlu didokumentasikan dan diidentifikasi.</p>
    
    <p><h5>Intervensi 6.2. Restorasi lahan dengan sistem agroforestri (kopi lokal dan karet)</h5></p>
    <p>Salah satu cara untuk restorasi lahan terdegradasi di Sumatera Selatan adalah dengan sistem agroforestri yang memadukan komoditas pertanian dengan pepohonan. Karet dan kopi adalah sebagian dari komoditas unggulan Sumatera Selatan dan komoditas ini bisa dibudidayakan dengan sistem agroforestri. Dengan agroforestri, lahan terdegradasi dapat direstorasi dan sekaligus juga dapat meningkatkan penghidupan masyarakat.</p>

    <p><h5>Intervensi 6.3 Penanaman kembali (replanting) HTI area di zona tanaman pokok</h5></p>
    <p>HTI harus dikelola secara berkelanjutan agar bisa produkstif dan tidak terlalu merusak fungsi lingkungan. Penanaman kembali (replanting) di areal HTI dalam hal ini di zona tanaman kehidupan menjadi penting dilakukan dengan tetap memperhatikan kaidah silvikultur dan mengembangkan sistem pemantauan per daur tanam.</p>

    <p><h5>Intervensi 6.4  Rehabilitasi (replanting) di zona tanaman kehidupan</h5></p>
    <p>Zona tanaman kehidupan sebesar 20% dari total luas areal HTI yang dikelola berdasarkan skema kemitraan dengan masyarakat yang tinggal di sekitar areal HTI. Restorasi di zona ini perlu melibatkan masyarakat setempat dalam penjagaan wilayah agar tidak terjadi gangguan baik dari alam misalnya kebakaran ataupun penjarahan. Hal ini bisa dilakukan dengan membentuk program jaga hutan bersama masyarakat. Selain itu, potensi ekowisata juga perlu digali lagi agar zona tanaman kehidupan dapat terjaga sekaligus meningkatkan penghidupan masyarakat lokal. </p>

    <p><h5>Intervensi 6.5 Suksesi alami areal HCV dan HCS  </h5></p>
    <p>Areal HCV dan HCS tidak terlepas dari ancaman kerusakan lingkungan dan degradasi lahan. Areal ini menjadi penting untuk segera dikembalikan fungsi dan kualitasnya agar dapat kembali seperti mula. Suksesi alami adalah proses perubahan bertahap pada ekositem yang terdegrasi,  seiring dengan waktu. Untuk terjadinya suksesi alami perlu adanya jaminan keamanan lingkungan dari segala gangguan dari luas, misalnya perambahan dan kebakaran. Pengamanan areal suksesi perlu menjadi prioritas dibarengi dengan penyadartahuan masyarakat akan pentingnya restorasi di areal HCV dan HCS itu.</p>

    <p><h5>Intervensi 6.6. Rehabilitasi areal HCV dan HCS yang sudah terdegradasi </h5></p>
    <p>Pada beberapa areal HCV dan HCS terdegradasi perlu dilakukan rehabilitasi lahan dengan penananam terutama spesies lokal yang sesuai dengan kondisi wilayah. Upaya rehabilitasi perlu dilakukan dengan assisted regeneration agar perkembangannya dapat dipantau sehingga dapat berjalan dengan lancar dan indikator keberhasilan dapat dicapai.</p>

    <p><h5>Intervensi 6.7 Restorasi gambut</h5></p>
    <p>Lahan gambut di Sumatera selatan telah banyak terbakar selama beberapa tahun terakhir, terutama pada tahun. Gambut merupakan ekosistem yang penting dan menjadi simpanan karbon yang besar. Lahan gambut di Sumsel perlu direstorasi untuk memperbaiki kondisinya yang telah terdegradasi dan untuk mencegah kebakaran kembali di masa yang akan datang. Lahan gambut yang telah dibudidayakan oleh masyarakat (zona budidaya) perlu diarahkan ke sistem pertanian yang cocok untuk gambut yaitu <i>Paludiculture</i> <sup>1</sup>. </p>

    <p><h5>Intervensi 6.8 Pengelolaan kebakaran hutan dan lahan terpadu</h5></p>
    <p>Kebakaran hutan dan lahan di Sumatera Selatan perlu menjadi perhatian dari semua pihak. Keterlibatan dan partisipasi masyarakat, sektor swasta, LSM bersama pemerintah dalam mengatasi persoalan kebakaran menjadi penting. Masyarakat perlu diberdayakan dan diberi pengetahuan tentang pencegahan kebakaran misalnya memberikan penyuluhan mengenai teknik pertanian yang tidak rentan terbakar, pengetahuan mengenai deteksi dini dan pemadaman kebakaran. LSM dan sektor swasta dapat menjadi mitra pemerintah untuk pemberdayaan masyarakat. Pemerintah juga harus tegas dalam mengambil kebijakan dan tindakan terhadap isu kebakaran ini. Jika setiap pihak secara aktif dan terpadu mengatasi persoalan ini, peluang berhasilnya penanggulangan kebakaran hutan dan lahan akan semakin besar.</p>

    <p><sup>1</sup> Sistem Paludiculture merupakan sistem budidaya lahan basah yang mencakup penggunaan lahan gambut secara lestari dengan tetap mempertahankan fungsi lahan untuk menopang penghidupan masyarakat.</p>

{% endblock %}