{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Green Growth Plan of South Sumatra</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  {% block custom-head %}{% endblock %}
</head>
<body>

  <!-- Homepage Banner -->
  {% block home-banner %}{% endblock %}

  <!-- Content Left menu -->
  {% block sidebar %}{% endblock %}

  <!-- Main content -->
  {% block main-content %}{% endblock %}

  <!-- Main Scripts -->
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <!-- Custom Scripts -->
  {% block custom-footer %}{% endblock %}

  </body>
</html>
