{% extends "base.html" %}

{% block custom-head %}
  <style type="text/css">
    .banner-color { color:#009b4c; }
    .userView.header { padding-bottom: 32px; }
    .section.content { padding-left: 325px; padding-right: 25px }
    .input-field label { font-weight: bold;  }
    .content img { margin: 3px 10px; }
    img.border { border: 1px solid grey; }
  </style>
{% endblock %}

{% block nav-menu %}
  <ul class="right hide-on-med-and-down">
    <li><a href="/">Homepage</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">Method & Tools</a></li>
    <li><a href="#">Data & Information</a></li>
    <li><a href="/history">Historical Condition</a></li>
    <li><a href="#">Business as Usual</a></li>
    <!--li><a href="#">Green Growth Plan</a></li>
    <li><a href="#">Help</a></li-->
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="/">Homepage</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">Method & Tools</a></li>
    <li><a href="#">Data & Information</a></li>
    <li><a href="/history">Historical Condition</a></li>
    <li><a href="#">Business as Usual</a></li>
    <li><a href="#">Green Growth Plan</a></li>
    <li><a href="#">Help</a></li>
  </ul>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
{% endblock %}

{% block sidebar %}
  <ul id="slide-out" class="side-nav fixed" style="top: inherit">
    <li class="yellow darken-2">
      <div class="userView header">
        <h5 class="banner-color">{% block sidebar-title %}{% endblock %}</h5>
      </div>
    </li>
    {% block sidebar-menu %}{% endblock %}
  </ul>
{% endblock %}

{% block main-content %}
  <div class="section content">
    <h3 class="banner-color">{% block content-title %}{% endblock %}</h3>

    {% block content-body %}{% endblock %}
  </div>
{% endblock %}
